h1 {
    color: black;
}
h2 {
    font-size: 30px;
}
 
.fiveDayCard {
    width:20%;
    padding: 10px;
}
.card{
    flex-direction: row;
    background-color: #ccccff;
}
.row{
    --bs-gutter-x: 0;
}
.custom-background{
    background-color:  #ccccff;
    color:black;
}